@import "../../../globals";

.Header {
    background-color: $rose;
    position: relative;

    .Header-upperpart {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 2rem;
        align-items: center;
        max-width: 1140px;
        margin: auto;

        .DropdownAndProfile {
            display: flex;
            align-items: center;
            gap: 2rem;

            .Dropdown-button {
                background-color: $jet;
                color: white;
                border: none;
            }

            .Dropdown-button:hover {
                background-color: $jet_hover;
            }

            .Profile {
                position: relative;

                a {
                    color: black;
                }

                .Profile-icon {
                    color: $jet;
                }


                .Profile-container {
                    background-color: $wheat;
                    padding: 12px;
                    position: absolute;
                    right: 0;
                    border-radius: 5px;
                    z-index: 10;

                    a {
                        cursor: pointer;
                        text-decoration: none;

                    }

                    .Profile-link {
                        margin-bottom: 4px;
                        border-bottom: 1px solid $jet;
                        cursor: pointer;
                    }

                    .Profile-link:hover {
                        transform: scale(1.1);
                    }
                }

                .Profile-inicial {
                    background-color: $air;
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-weight: 500;
                    cursor: default;
                }

                .Profile-inicial:hover {
                    background-color: $air_hover;
                }
            }

            .Profile-icon:hover {
                color: $jet_hover;
            }

            .DropdownItem {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }


    }

    .Header-bottompart {
        padding: 32px;
        max-width: 1140px;
        margin: auto;

        .Welcome-text {
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }

        .Welcome-paraghaph {
            font-weight: 700;
            color: white;
            margin-bottom: 3rem;
        }
    }

    .Header-search {
        display: flex;
        background-color: white;
        padding: 12px 12px;
        width: fit-content;
        margin: auto;
        position: absolute;
        bottom: -46px;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 1px 1px 13px -5px rgba(66, 68, 90, 1);
        border-radius: 5px;
        gap: 24px;
        align-items: center;
        z-index: 10;

        .Search-dropdown {
            background-color: $jet;
            color: white;
            border: none;
            z-index: 10;
        }

        .Search-dropdown:hover {
            background-color: $jet_hover;
        }

        .Search-button {
            background-color: $air;
            margin-left: 24px;
            border: none;
        }

        .Search-button:hover {
            background-color: $air_hover;
        }

        .Search-container {
            display: flex;

            .Search-checkboxesContainer {
                border-left: 1px solid $jet;
                padding-left: 0.5rem;
            }

            .Search-checkboxes {
                display: flex;
            }

            .Search-buttons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 5px;
            }
        }
    }
}

@media screen and (max-width: 1048px) {
    .Header-search {
        flex-direction: column;
        height: fit-content;
        position: static !important;
        transform: none !important;
        border-radius: 0px !important;
        width: 100% !important;

        .Search-container {
            flex-direction: row;
        }

        .Search-checkboxesContainer {
            border-left: none !important;
        }

        .Search-checkboxes {
            flex-direction: column;
        }

        .Search-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .Search-button {
                margin-left: 0px;
            }
        }
    }
}