@import '../../globals.scss';

.DetailPage-container {
    max-width: 1140px;
    padding: 0 2rem 0.5rem 2rem;
    margin: auto;

    .DatailPage-photo {
        object-fit: cover;
        aspect-ratio: 16/9;
    }

    .Detail-span {
        color: grey;
        margin-bottom: 0.5rem;
    }

    .Detail-desc {
        background-color: rgb(240, 239, 239);
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }

    .Detail-detailsContainer {
        margin-top: 1rem;
    }

    .Detail-detailContainer {
        padding-bottom: 0.1rem;
        margin-top: 0.1rem;
    }

    .Detail-details {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;
    }
}