@import '../../globals.scss';

.Homepage-listContainer {
    display: flex;
    gap: 24px;
    max-width: 1140px;
    margin: 56px auto;
    padding: 0.5rem 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .Homepage-listElements {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        color: $jet;

        .Homepage-photo {
            width: 250px;
            height: 250px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
        }
    }

}