@import '../../globals.scss';

.Homepage-listContainer {
    display: flex;
    gap: 24px;
    max-width: 1140px;
    margin: 56px auto;
    padding: 0.5rem 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.Homepage-noResults {
    margin: 56px auto;
    width: fit-content;
}

@media screen and (max-width: 1048px) {
    .Homepage-listContainer {
        justify-content: center;
    }
}